.pager {
  margin-top: 0;
  margin-bottom: 0;
}

.lead.tournamentLead {
  margin-bottom: 0;
}

.activeLink {
  background-color: #272727;
}

.mtgreference .flag-icon {
  margin-right: 0.25em;
}

.mtgreference .fa-trophy {
  color: #FF4500;
  margin-left: 0.25em;
}

.mtgreference .fa-crown {
  color: gold;
  margin-left: 0.25em;
}

.mtgreference .fa-medal {
  color: green;
  margin-left: 0.25em;
}

.mtgreference .former {
  color: darkgrey !important;
}

.page-header.pageHeader {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  h1 {
    margin-top: 0;
  }
}

/*
 * Stat
 */

.Stat {
  text-align: center;
}

.Stat-alert {
  margin-bottom: 0;
}

.Stat-value {
  font-weight: bold;
}

.Stat-link {
  color: #fff !important;
}

@media (min-width: 768px) {
  .Stat {
    padding: 10px;
  }

  .Stat-alert {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
  }
}

.page-header.pageHeader.recentHeader {
  border: 0;
}

.sortableHeader {
  cursor: pointer;
}

.sortableHeader img {
  width: 16px;
  height: 16px;
}

.sortableHeader picture {
  width: 16px;
  height: 16px;
}

/*
 * List
 */

.List {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}

.List-index {
  margin-right: 5px;
}

.List-item--big {
  font-size: 1.5em;
  margin-left: -5px;
  white-space: nowrap;
}

.List-item--big .List-link {
  margin-left: -4px;
}

.recentTournamentWrapper {
  .recentTournament {
    .image {
      img {
        max-height: 80px;
        max-width: 100%;
        margin-bottom: 10px;
      }
      picture {
        max-height: 80px;
        max-width: 100%;
        margin-bottom: 10px;
      }
    }
  }
}

.standingsTable {
  tbody > tr:nth-of-type(even) {
    background-color: #f9f9f9;
  }
  tbody > tr:hover {
    background-color: #f5f5f5;
  }
  tbody > tr > td:nth-child(1) {
    text-align: right;
  }

  tbody.hallOfFame > tr > td:nth-child(1) {
    text-align: left !important;
  }
}

.jumbotron.notFound {
  background-color: #f5f5f5;
}

// [1] Magic number: Maximizes input width at larger breakpoints.

@media (min-width: 768px) {
  .navbar .form-control {
    width: 360px; // 1.
  }
}


/*
 * Collapsible box
 */


.collapsible-box {
  padding: 10px;
  border: none;
}

.collapsible-button {
  background: transparent;
  cursor: pointer;
  border: none;
  font-weight: 300;
  color: #6f6f6f;
}

.collapsible-content {
  margin-top: 10px;
  font-size: 1.5em;
  font-weight: 300;
  color: #6f6f6f;
}

.collapsible-iframebutton {
  background: transparent;
  cursor: pointer;
  border: none;
  font-weight: 300;
  color: #6f6f6f;
}


.reports {
  padding-left:3px; 
}


.nation-filter {
  width: fit-content;
  margin: 0 auto;  
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1.7rem;
  margin-bottom: 1rem;
}


.nation-filter label {
  font-size: 1.7rem;
}

.nation-filter select {
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='10' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'><path d='M5 7l5 5 5-5H5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 0.8rem;
  padding-right: 1.5rem;
  font-size: 1.7rem;
  position: relative;
  top: -2px;
  border: 1px solid #ddd;
  padding: 4px 8px 4px 6px;
}

.nation-filter select:focus {
  border-color: #999;
  outline: none;
}


.season-select {
  width: fit-content;
  margin: 0 auto;  
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1.7rem;
  margin-bottom: 1rem;
}

.season-select label {
  font-size: 1.7rem;
}

.season-select select {
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='10' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'><path d='M5 7l5 5 5-5H5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 0.8rem;
  padding-right: 1.5rem;
  font-size: 1.7rem;
  position: relative;
  top: -2px;
  border: 1px solid #ddd;
  padding: 4px 8px 4px 6px;
}

.season-select select:focus {
  border-color: #999;
  outline: none;
}

.peip-table {
  width: auto;
  margin: 0 3% 20px;
  text-align: center;
}

.peip-table th {
  text-align: center;
}